body {
text-align: center;
margin: 0;
}

header {
	background-color: #f15b31;
	font: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00a6b3;
	padding: 20px;
}

a:hover {
/* Your styles here */
}

h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
color:#0d2C40;
letter-spacing: 1px;
font-size: 45px;
margin: 0;
}

h2 {
font-family: :"Raleway", sans-serif;
color: #0d2C40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
}

main{
	width: 850px;
	margin: 35px auto;
	background-color: white;
}

a {
font-family: "Raleway", sans-serif;
color: #FFFFFF;
letter-spacing: 1px;
font-weight: 600;
font-size: 18px;
text-decoration: none;
padding: 20px;
}

p {
font-family: "Droid Serif",sans-serif;
line-height: 26px;
font-size: 18px;
}

img {
	margin: 40px 8px;
}

footer{
	text-transform: uppercase;
	padding: 0px 20px;
	background-color: #0d2C40;
	text-decoration-color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright{
	font-family: "Raleway", sans-serif;
	float: left;
}

.message{
	font-family: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
	color: #f15b31;
	font-weight: 700;
}
